﻿Title: OpusSharp. An unofficial .NET opus wrapper.
NoContainer: true
NoTitle: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white">OpusSharp. An unofficial .NET opus wrapper.</div>
                    <p class="lead text-white">OpusSharp is a wrapper that allows you to directly use opus through C#.</p>
                </div>
            </div>
        </div>
    </div>
}

<div class="bg-light">
    <div class="container-xl py-3 font-size-sm">
        <div class="row">
            <div class="offset-lg-2 col-12 col-lg-8">
                <div class="text-center">
                    <h2>How It Works</h2>
                </div>
                <p>
                    OpusSharp is an unofficial .NET wrapper for the Opus audio codec. It contains managed wrappers and safe handlers as well as direct native function access to the opus methods.
                </p>
                <p>
                    OpusSharp also includes prebuilt binaries available through the OpusSharp.Natives package.
                    See <a href="xref:docs">Quick Start</a> to get started.
                </p>
            </div>
        </div>
    </div>
</div>